.main-carousel {
  padding: 10px;
  margin: 1px;
}

.main-carousel .cell {
  width: 15%;
  margin: 8px 8px;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .main-carousel .cell {
    width: 17%;
    margin: 8px 12px;
  }
}

@media screen and (max-width: 480px) {
  .main-carousel .cell {
    width: 30%;
    margin: 8px 6px;
  }
}

.main-carousel .cell:hover {
  top: -0.5em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-carousel .cell img {
  border-radius: 0.4em;
  width: 100%;
}

.carousel2 {
  padding: 10px;
  margin: 1px;
}

.carousel2 .cell {
  width: 24%;
  margin: 10px 7px;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .carousel2 .cell {
    width: 30%;
    margin: 10px 15px;
  }
}

@media screen and (max-width: 480px) {
  .carousel2 .cell {
    width: 45%;
    margin: 10px 10px;
  }
}

.carousel2 .cell:hover {
  top: -0.5em;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.carousel2 .cell img {
  border-radius: 0.4em;
  width: 100%;
}

.carousel3 {
  padding-bottom: 10px;
  margin: 1px;
}

.carousel3 .cell {
  padding: auto;
  width: 19%;
  margin: 8px 7px;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .carousel3 .cell {
    width: 30%;
    margin: 10px 12px;
  }
}

@media screen and (max-width: 480px) {
  .carousel3 .cell {
    width: 30%;
    margin: 10px 5px;
  }
}

.carousel3 .cell:hover {
  top: -0.5em;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.carousel3 .cell img {
  border-radius: 0.4em;
  width: 100%;
}

.page2-carousel {
  padding: 5px;
  margin: 1px;
}

.page2-carousel .cell {
  width: 15%;
  margin: 8px 8px;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .page2-carousel .cell {
    width: 30%;
  }
}

.page2-carousel .cell img {
  border-radius: 0.4em;
  width: 100%;
}

.page-layout {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: sans-serif;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.darkmode .page-layout {
  background-color: #464646;
}

h2 {
  padding: 10px;
  color: #444444;
  font-family: sans-serif;
  font-size: 22px;
  font-style: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  line-height: 28px;
  letter-spacing: 0.8px;
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 12px;
    line-height: 25px;
  }
}

h4 {
  padding: 2px;
  color: #444444;
  font-family: sans-serif;
  font-size: 15px;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  line-height: 28px;
  letter-spacing: 0.8px;
}

@media screen and (max-width: 800px) {
  h4 {
    font-size: 12px;
  }
}

p {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  -webkit-font-feature-settings: "SS04";
          font-feature-settings: "SS04";
  line-height: 24px;
  letter-spacing: 0px;
  color: #666666;
}

@media screen and (max-width: 800px) {
  p {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
}

.fab {
  color: grey;
  font-size: 17px;
  padding-left: 15px;
}

.mainlogo {
  width: 10rem;
  padding: 5px;
}

@media screen and (max-width: 480px) {
  .mainlogo {
    width: 10rem;
    padding: 5px;
  }
}

.navbar {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  padding: 8px;
  background-color: white;
  z-index: 1;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
  /* img{
      width: 50%;
  }*/
}

@media screen and (max-width: 480px) {
  .navbar {
    position: -webkit-sticky;
    position: sticky;
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    position: -webkit-sticky;
    position: sticky;
  }
}

/*----------------------Darkmode button---------------------------*/
/* input[type="checkbox"] {
	visibility: hidden;
	&:checked + label {
		background-color: #000;
		&:before {
			transform: translateX(21px);
			background-color:#666666d7;;
		}
	}
}

label {
	display: flex;
	width: 40px;
	height: 20px;
	border: 1px solid;
	border-radius: 99em;
	position: relative;
	transition: transform .75s ease-in-out;
	transform-origin: 50% 50%;
	cursor: pointer;
  top: -10px;
	
	&:before {
		transition: transform .75s ease;
		transition-delay: 0s;
		content: "";
		display: block;
		position: absolute;
		width: 20px;
		height: 20px;
		background-color: #666666d7;
		border-radius: 50%;
		top: 0px;
		left: 0px;
	}
} */
/*--------------------------burger menu-----------------------------*/
.navbar-bar {
  position: absolute;
  top: 15px;
  right: 13%;
  font-size: 25px;
  display: none;
  -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 800px) {
  .navbar-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#menuToggle {
  display: block;
  position: absolute;
  top: 15%;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#menuToggle input {
  display: block;
  width: 45px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -10px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #7200e4;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: opacity 0.5s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.5s ease;
  transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.5s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #7200e4;
  -webkit-tap-highlight-color: transparent;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

/*-------------------------------------------------------*/
.topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topnav a {
  text-decoration: none;
  padding: 5px;
  color: #666666;
  font-family: halyard-text, sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  -webkit-font-feature-settings: "SS04";
          font-feature-settings: "SS04";
  line-height: 20px;
  letter-spacing: 0px;
  margin-left: 0.4rem;
}

.topnav .topnav-links {
  padding: 10px;
}

.topnav .topnav-links:hover {
  background: #f8f8f8;
  border-radius: 0.4em;
}

@media screen and (max-width: 800px) {
  .topnav {
    display: none;
  }
}

#Sign-in-button {
  padding: 10px;
  border-radius: 0.2rem;
  border-width: 1px;
  border-color: black;
  background-color: white;
}

#Sign-in-button:hover {
  background: #8000ff;
  border: 1px solid #8000ff;
  color: white;
}

.navbar-menu {
  display: block;
  padding: 10px;
  margin: 5px;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.navbar-menu a {
  color: #666666;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  -webkit-font-feature-settings: "SS04";
          font-feature-settings: "SS04";
  line-height: 20px;
  letter-spacing: 0px;
  text-decoration: none;
  padding: 8px;
}

.navbar-menu a:hover {
  color: #8000ff;
}

@media screen and (max-width: 800px) {
  .navbar-menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
  }
  .navbar-menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
  }
}

.navbar-menu .navlinks2 {
  float: right;
  /*position: absolute;
    right: 0;
    top:50%;*/
}

.dropdown-content {
  display: none;
  right: 0;
  position: absolute;
  text-align: center;
  border-radius: 10px;
  left: 0;
  margin: auto;
  background-color: white;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #f8f6ff;
  z-index: 1;
}

.wrap {
  width: 50%;
  margin: auto;
  margin-top: -20px;
}

@media screen and (max-width: 800px) {
  .wrap {
    width: 70%;
    margin: auto;
    margin-top: -15px;
  }
}

.search {
  width: 110%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 800px) {
  .search {
    width: 100%;
  }
}

.searchTerm {
  width: 90%;
  border: 1px solid #ffffff;
  height: 53px;
  border-radius: 10px;
  outline: none;
  text-align: left;
  font-size: 18px;
  color: black;
  padding-left: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.247);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.247);
}

@media screen and (max-width: 800px) {
  .searchTerm {
    font-size: 10px;
    width: 500px;
    height: 35px;
  }
}

.searchButton {
  width: 110px;
  height: 45px;
  border: 1px solid #8000ff;
  background: #8000ff;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 22px;
  margin-left: -115px;
  margin-top: 6px;
}

.searchButton:hover {
  color: white;
  -webkit-box-shadow: 0px 2px 10px 0px #8000ff;
          box-shadow: 0px 2px 10px 0px #8000ff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 800px) {
  .searchButton {
    width: 70px;
    height: 35px;
    font-size: 15px;
    margin-left: -65px;
    margin-top: 2px;
  }
}

.row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.row1 .column1 {
  width: 100%;
}

.row1 .column1 a {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .row1 .column1 {
    padding: 10px;
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .row1 .column1 {
    padding: 5px;
    font-size: 10px;
  }
}

.ticketslist {
  font-family: sans-serif;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: 100px;
  text-align: justify;
}

.ticketslist a {
  color: black;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 2px;
  text-decoration: none;
  padding-left: 10px;
}

.ticketslist a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .ticketslist a {
    font-size: 12px;
    letter-spacing: 1px;
    padding-left: 2px;
    line-height: 30px;
  }
}

@media screen and (max-width: 480px) {
  .ticketslist a {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 30px;
  }
}

@media screen and (max-width: 800px) {
  .ticketslist {
    padding: 8px;
  }
}

@media screen and (max-width: 480px) {
  .ticketslist {
    text-align: center;
  }
}

.row3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.9em;
  background-color: #f8f6ff;
}

@media screen and (max-width: 800px) {
  .row3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.row3 .column3 {
  padding-left: 20px;
  padding-top: 50px;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .row3 .column3 {
    padding-top: 20px;
    width: 90%;
    display: block;
  }
}

.storeimg {
  max-width: 150px;
}

.image2 {
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -4px;
}

@media screen and (max-width: 800px) {
  .image2 {
    width: 80%;
  }
}

.row4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .row4 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
}

.row4 .column4 {
  width: auto;
  padding-right: 0px;
  margin: auto;
  text-align: center;
}

.row4 .column4 img {
  max-width: 100%;
}

@media screen and (max-width: 480px) {
  .row4 .column4 h2 {
    line-height: 12px;
    font-size: 15px;
  }
  .row4 .column4 p {
    line-height: 12px;
    padding: 5px;
    font-size: 10px;
  }
}

.row5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 800px) {
  .row5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0px;
  }
}

.column5 {
  padding: 60px;
}

@media screen and (max-width: 800px) {
  .column5 {
    padding: 0px;
    text-align: center;
  }
}

.column5 a {
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: #666666;
}

.column5 a:hover {
  color: #9e109e;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}
/*# sourceMappingURL=headout.css.map */