.main-carousel {
  padding: 10px;
  margin: 1px;
}

.main-carousel .cell {
  width: 15%;
  margin: 8px 8px;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .main-carousel .cell {
    width: 17%;
    margin: 8px 12px;
  }
}

@media screen and (max-width: 480px) {
  .main-carousel .cell {
    width: 30%;
    margin: 8px 6px;
  }
}

.main-carousel .cell:hover {
  top: -0.5em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-carousel .cell img {
  border-radius: 0.4em;
  width: 100%;
}

.carousel2 {
  padding: 10px;
  margin: 1px;
}

.carousel2 .cell {
  width: 24%;
  margin: 10px 7px;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .carousel2 .cell {
    width: 30%;
    margin: 10px 15px;
  }
}

@media screen and (max-width: 480px) {
  .carousel2 .cell {
    width: 45%;
    margin: 10px 10px;
  }
}

.carousel2 .cell:hover {
  top: -0.5em;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.carousel2 .cell img {
  border-radius: 0.4em;
  width: 100%;
}

.carousel3 {
  padding-bottom: 10px;
  margin: 1px;
}

.carousel3 .cell {
  padding: auto;
  width: 19%;
  margin: 8px 7px;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .carousel3 .cell {
    width: 30%;
    margin: 10px 12px;
  }
}

@media screen and (max-width: 480px) {
  .carousel3 .cell {
    width: 30%;
    margin: 10px 5px;
  }
}

.carousel3 .cell:hover {
  top: -0.5em;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.carousel3 .cell img {
  border-radius: 0.4em;
  width: 100%;
}

.page2-carousel {
  padding: 5px;
  margin: 1px;
}

.page2-carousel .cell {
  width: 15%;
  margin: 8px 8px;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .page2-carousel .cell {
    width: 30%;
  }
}

.page2-carousel .cell img {
  border-radius: 0.4em;
  width: 100%;
}

.page-layout {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: sans-serif;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

h2 {
  padding: 10px;
  color: #444444;
  font-family: sans-serif;
  font-size: 22px;
  font-style: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  line-height: 28px;
  letter-spacing: 0.8px;
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 20px;
  }
}

h4 {
  padding: 2px;
  color: #444444;
  font-family: sans-serif;
  font-size: 15px;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  letter-spacing: 0.8px;
}

@media screen and (max-width: 800px) {
  h4 {
    font-size: 12px;
  }
}

p {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  -webkit-font-feature-settings: "SS04";
          font-feature-settings: "SS04";
  line-height: 17px;
  letter-spacing: 0px;
  color: #666666;
}

@media screen and (max-width: 800px) {
  p {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
}

.fab {
  color: grey;
  font-size: 17px;
  padding-left: 15px;
}

.fas {
  padding-left: 10px;
  padding-right: 10px;
}

.mainlogo {
  width: 10rem;
  padding: 5px;
}

@media screen and (max-width: 480px) {
  .mainlogo {
    width: 10rem;
    padding: 5px;
  }
}

.navgrid {
  background-color: #b6ffc2;
  width: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.navbar {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  z-index: 1;
}

/*--------------------------burger menu-----------------------------*/
.navbar-bar {
  position: absolute;
  top: 15px;
  right: 13%;
  font-size: 25px;
  display: none;
  -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 800px) {
  .navbar-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#menuToggle {
  display: block;
  position: absolute;
  top: 15%;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#menuToggle input {
  display: block;
  width: 45px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -10px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #7200e4;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: opacity 0.5s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.5s ease;
  transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.5s ease, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #7200e4;
  -webkit-tap-highlight-color: transparent;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

/*-------------------------------------------------------*/
.topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin: auto;
}

.topnav a {
  text-decoration: none;
  padding: 5px;
  color: #666666;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  -webkit-font-feature-settings: "SS04";
          font-feature-settings: "SS04";
  line-height: 20px;
  letter-spacing: 0px;
  margin-left: 0.4rem;
}

.topnav .topnav-links {
  margin: auto;
  padding: 13px;
}

.topnav .topnav-links:hover {
  background: #f8f8f8;
  border-radius: 0.4em;
}

@media screen and (max-width: 800px) {
  .topnav {
    display: none;
  }
}

.topnav1 {
  display: none;
  padding: 5px;
}

.topnav1 a {
  color: #666666;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  -webkit-font-feature-settings: "SS04";
          font-feature-settings: "SS04";
  line-height: 20px;
  letter-spacing: 0px;
  text-decoration: none;
  padding: 10px;
}

.topnav1 a:hover {
  color: #8000ff;
}

@media screen and (max-width: 800px) {
  .topnav1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .topnav1.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar-menu {
  display: inline-block;
  padding: 5px;
}

.navbar-menu a {
  color: #666666;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  -webkit-font-feature-settings: "SS04";
          font-feature-settings: "SS04";
  line-height: 20px;
  letter-spacing: 0px;
  text-decoration: none;
}

.navbar-menu a:hover {
  color: #8000ff;
}

#Sign-in-button {
  padding: 10px;
  border-radius: 0.2rem;
  border-width: 1px;
  border-color: black;
  background-color: white;
}

#Sign-in-button:hover {
  background: #8000ff;
  border: 1px solid #8000ff;
  color: white;
}

.grid-container {
  margin: auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 800px) {
  .grid-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: auto;
  }
}

.row4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .row4 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.row4 .column4 {
  width: auto;
  padding-right: 0px;
  margin: auto;
  text-align: center;
}

.row4 .column4 img {
  width: 200px;
}

@media screen and (max-width: 480px) {
  .row4 .column4 h2 {
    line-height: 12px;
    font-size: 15px;
  }
  .row4 .column4 p {
    line-height: 12px;
    padding: 5px;
    font-size: 10px;
  }
  .row4 .column4 img {
    width: 120px;
  }
}

.row5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 800px) {
  .row5 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.row5 .column5 {
  padding: 60px;
}

@media screen and (max-width: 800px) {
  .row5 .column5 {
    padding: 0px;
    text-align: center;
  }
}

.row5 .column5 a {
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: #666666;
}

.row5 .column5 a:hover {
  color: #9e109e;
  -webkit-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}

.row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.row1 .column1 {
  width: 100%;
}

.row1 .column1 a {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .row1 .column1 {
    padding: 10px;
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .row1 .column1 {
    padding: 10px;
    font-size: 10px;
  }
}

.confirm_pay {
  color: white;
  margin-top: 1.6em;
  height: 3em;
  width: 80%;
  pointer-events: all;
  background: #8000ff;
  border-radius: 0.4em;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  border-width: 0;
}

.sidebar {
  border-radius: 10px;
  border-style: solid;
  border-width: 0.1em;
  border-color: rgba(0, 0, 0, 0.295);
  top: 17%;
  margin: 5px;
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
}

@media screen and (max-width: 800px) {
  .sidebar {
    display: none;
  }
}

.sideimage {
  width: 30%;
  height: 50%;
  margin: auto;
  border-radius: 8px;
}

@media screen and (max-width: 800px) {
  .sideimage {
    width: 20%;
  }
}

.grid1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  width: 100%;
  border-radius: 10px;
  text-align: left;
  margin-bottom: 20px;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .grid1 {
    max-width: 100%;
  }
}

.grid1 .confirm_pay {
  color: white;
  margin-top: 1.6em;
  height: 3em;
  width: 40%;
  pointer-events: all;
  background: #8000ff;
  border-radius: 0.4em;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  border-width: 0;
}

.grid1 .edit {
  display: none;
}

@media screen and (max-width: 800px) {
  .grid1 .edit {
    display: block;
  }
}

.grid1data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  text-align: center;
}

.grid1data .div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid1data p {
  font-size: 12px;
  line-height: 5px;
  padding-left: 1px;
}

.grid1data .item1 {
  text-align: left;
  font-weight: bold;
}

.grid1data .item2 {
  text-align: right;
  font-weight: bold;
}

.grid1data .fas {
  font-size: 26px;
}

@media screen and (max-width: 480px) {
  .grid1data .fas {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .grid1data {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    padding: 5px;
  }
}

.fa-minus-circle {
  font-size: 25px;
  color: #e0cafa;
  cursor: pointer;
}

.fa-plus-circle {
  font-size: 25px;
  color: #e0cafa;
  cursor: pointer;
}

.details-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 60px 20px;
  padding: 10px;
  margin: auto;
}

.details-grid p {
  font-size: 12px;
  line-height: 10px;
  padding-left: 1px;
}

.details-grid input {
  width: 90%;
  height: 50px;
  border-radius: 5px;
  border-color: #dadada;
  border-style: double;
}

.details-grid select {
  width: 90%;
  height: 50px;
  border-radius: 5px;
  border-color: #dadada;
  border-style: double;
}

@media screen and (max-width: 480px) {
  .details-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 50px;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.details-grid2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 60px 20px;
  padding: 10px;
  margin: auto;
}

.details-grid2 img {
  width: 90%;
}

.details-grid2 p {
  font-size: 12px;
  line-height: 10px;
}

.details-grid2 input {
  width: 90%;
  height: 50px;
  border-radius: 5px;
  border-color: #dadada;
  border-style: double;
}

.details-grid2 select {
  width: 90%;
  height: 50px;
  border-radius: 5px;
  border-color: #dadada;
  border-style: double;
}

@media screen and (max-width: 480px) {
  .details-grid2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 5px;
    padding-bottom: 0px;
    padding-top: 40px;
  }
}

.confirm {
  padding: 10px;
}

.grid2 {
  max-width: 100%;
  text-align: left;
}

@media screen and (max-width: 800px) {
  .grid2 {
    max-width: 100%;
  }
}
/*# sourceMappingURL=headout3.css.map */